<!DOCTYPE html>
<html lang="en">

    <!-- Aqui va el head -->
    <%- include('../partials/head') %>

<body>
    
    <!-- Aqui va el header -->
    <%- include('../partials/header') %>

    <!-- Aqui va el main -->
    <main>
        <div class="main-title-ctn">
            <p>Crear Producto</p>
        </div>
        <div class="main-form-ctn">
            <form action="/productos/crear" method="POST" enctype="multipart/form-data" class="formCyE">
                
                <label for="username">Nombre del Producto</label>
                <input type="text" name="name" id="nombre"
                        placeholder="Nombre del Producto"
                        class="control form-element"
                        value="<%= locals.oldData ? oldData.name : null  %>">
                        <p id="error"></p>
                            <% if (locals.errors && errors.name) { %>
                                <div class="text-danger" id="backErrorname">
                                    <%= errors.name.msg %> 
                                </div>                         
                            <% } %>
                                      

                <label for="peso">Peso Neto</label>
                <input type="number" name="weight" class="form-element" id="peso" placeholder="Peso Neto" value="<%= locals.oldData ? oldData.weight : null  %>"> 
                <p id="errorPeso"></p>
                <% if (locals.errors && errors.weight) { %>
                    <div class="text-danger" id="backErrorPeso">
                        <%= errors.weight.msg %> 
                    </div>                         
                <% } %>
                
                <div>
                    <label for="detalle">Descripción</label>
                    <textarea name="detail" id="detalle" class='content-ctn form-element' placeholder="Descripcion" rows="10" cols="50"><%= locals.oldData ? oldData.detail : null  %></textarea>
                    <p id="errorDetalle"></p>    
                    <% if (locals.errors && errors.detail) { %>
                        <div class="text-danger" id="backErrorDetalle">
                            <%= errors.detail.msg %> 
                        </div>                         
                        <% } %>     
                </div>

                <label for="precio">Precio</label>
                <input type="number" name="price" id="precio" placeholder="Precio" class="form-element"
                        value="<%= locals.oldData ? oldData.price : null  %>"> 
                        <p id="errorPrecio"></p>
                        <% if (locals.errors && errors.price) { %>
                            <div class="text-danger" id="backErrorPrecio">
                                <%= errors.price.msg %> 
                            </div>                         
                        <% } %>

                <label for="cantidad">Cantidad</label>
                <input type="number" name="quantity" id="cantidad" placeholder="Cantidad" class="form-element"
                        value="<%= locals.oldData ? oldData.quantity : null  %>"> 
                        <p id="errorCantidad"></p>
                        <% if (locals.errors && errors.quantity) { %>
                            <div class="text-danger" id="backErrorCantidad">
                                <%= errors.quantity.msg %> 
                            </div>                         
                        <% } %>  
                
            <div>
                <label for="imagenes">Insertar Imagenes de tu Producto</label>
                <input type="file" name="image" id="imagen" class="form-element" placeholder="Insertar Imagenes de tu producto">
                <p id="errorImage"></p> 
                <% if (locals.errors && errors.image) { %>
                    <div class="text-danger">
                        <%= errors.image.msg %> 
                    </div>                         
                <% } %>
            </div>
                
                <label for="categoria">Categoria</label>
                <select name="category" id="categoria" class="form-element">
                    <option value="">Elegí una Categoria</option>
                    <%  
						let categorias = ['En Granos', 'Molido', 'Capsulas', 'Chocolates', 'Cookies', 'Alfajores'];
					%>
						<% for (const categoria of categorias) { %>
						<option 
							value="<%= categoria %>"
							<%= locals.oldData && (categoria === oldData.category) ? 'selected' : null %>>
							<%= categoria %>
                        </option>
						<% } %>
				</select>
						<% if (locals.errors && errors.category) { %>
							<div class="text-danger">
								<%= errors.category.msg %>
							</div>
						<% } %>                    
                
                
                <label for="sesion">Sesion</label>
                <select name="session" id="sesion" class="form-element">
                    <option value="">Elegí una Sesión</option>
                    <%  
						let sesiones = ['Normal', 'Destacado', 'Oferta'];
					%>
						<% for (const sesion of sesiones) { %>
						<option 
							value="<%= sesion %>"
							<%= locals.oldData && (sesion === oldData.session) ? 'selected' : null %>>
							<%= sesion %>
                        </option>
						<% } %>                   
                </select>
                        <% if (locals.errors && errors.session) { %>
                            <div class="text-danger">
                                <%= errors.session.msg %>
                            </div>
                        <% } %>   

                <div class="submit-compra-mc">
                    <button class="submit-lgn-mc">Crear Producto</button>
                    <a href="/productos">
                        <button type="button" class="submit-lgn-mc"> Volver
                        </button>
                    </a>
                </div>
            </form>
        </div>
    </main>


    <!-- Aca va el footer -->
    <%- include('../partials/footer') %>
    
    <script src="/js/productCreateValidation.js"></script>

</body>
</html>