<!DOCTYPE html>
<html lang="en">

    <!-- Aqui va el head -->
    <%- include('../partials/head', {title: 'Editando: ' }) %>

<body>
    
    <!-- Aqui va el header -->
    <%- include('../partials/header') %>
<!-- Aqui va el script de validaciones -->
  <script src="/js/productModifyValidation.js" type="text/javascript"></script> 
    <!-- Aqui va el main -->
    <main>
        
        <div class="main-title-ctn">
            <p>Editar Producto: <%= productoAEditar.name %></p>
        </div>
        <div class="main-form-ctn">
            <form action="/productos/editar/<%= productoAEditar.id %>" method="POST" class="formCyE" enctype="multipart/form-data">
                
                <label for="nombre">Nombre del Producto</label>
                <input type="text" name="name" id="nombre" 
                value="<%= locals.productoAEditar && productoAEditar.name ? productoAEditar.name : null  %>">
                <p id="error"></p>
                    <% if (locals.errors && errors.name) { %>
                        <div class="text-danger">
                            <%= errors.name.msg %> 
                        </div>                         
                    <% } %>


                <label for="peso">Peso Neto</label>
                <input type="number" name="weight" id="peso" 
                value="<%= locals.productoAEditar && productoAEditar.weight ? productoAEditar.weight : null  %>" 
                placeholder="Peso Neto">
                <p id="error"></p>
                    <% if (locals.errors && errors.weight) { %>
                        <div class="text-danger">
                            <%= errors.weight.msg %> 
                        </div>                         
                    <% } %>

                <label for="detalle">Descripción</label>
                <textarea name="detail" id="detalle" class='content-ctn' 
                placeholder="Detalle" rows="10" cols="50"><%= productoAEditar.detail %></textarea>
                <p id="errorDetalle"></p>
                    <% if (locals.errors && errors.detail) { %>
                        <div class="text-danger">
                            <%= errors.detail.msg %> 
                        </div>                         
                    <% } %>
                <label for="precio">Precio</label>
                <input type="number" name="price" id="precio" 
                value="<%= locals.productoAEditar && productoAEditar.price ? productoAEditar.price : null  %>" placeholder="Precio">
                <% if (locals.errors && errors.price) { %>
                    <div class="text-danger">
                        <%= errors.price.msg %> 
                    </div>                         
                <% } %>

                <label for="cantidad">Cantidad</label>
                <input type="number" name="quantity" id="cantidad" placeholder="Cantidad" class="form-element"
                value="<%= locals.productoAEditar && productoAEditar.quantity ? productoAEditar.quantity : null  %>"> 
                <% if (locals.errors && errors.quantity) { %>
                    <div class="text-danger">
                        <%= errors.quantity.msg %> 
                    </div>                         
                <% } %>    

                <!-- Traer la imagen -->
                <label for="imagenes">Subir Imagen</label>
                <img src="/images/<%= productoAEditar.image %>" alt="">
                <input type="file" accept="image/*" name="image" id="imagenes" placeholder="Insertar Imagenes de tu producto">
                
                

                <label for="categoria">Categoria</label>
                <select name="category" id="categoria">
                    <!-- <option value="" disabled>Seleccionar Categoria</option> -->
                    <!-- <option value="molido" <%= productoAEditar.category === 'molido' ? 'selected' : '' %> >Molido</option>
                    <option value="granos" <%= productoAEditar.category === 'granos' ? 'selected' : '' %> >En granos</option>                    
                    <option value="capsulas" <%= productoAEditar.category === 'capsulas' ? 'selected' : '' %> >En capsulas</option> -->
                    
                    <option value="molido" <%= productoAEditar.category === 'molido' ? 'selected' : '' %> >Molido</option>
                    <option value="granos" <%= productoAEditar.category === 'granos' ? 'selected' : '' %> >En granos</option>              
                    <option value="capsulas" <%= productoAEditar.category === 'capsulas' ? 'selected' : '' %> >En capsulas</option>
                </select>

                <label for="sesion">Sesion</label>
                <select name="session" id="sesion">
                    <option value="destacado" <%= productoAEditar.session === 'destacado' ? 'selected' : '' %> >Destacado</option>
                    <option value="oferta" <%= productoAEditar.session === 'oferta' ? 'selected' : '' %> >En Oferta</option>
                    <option value="normal" <%= productoAEditar.session === 'normal' ? 'selected' : '' %> >Normal</option>
                </select>

                <div class="submit-compra-mc">
                    <button type="submit" class="submit-lgn-mc">Guardar Producto</button>
                </div>
            </form>
        </div>
    </main>


    <!-- Aca va el footer -->
    <%- include('../partials/footer') %>
    

</body>
</html>