<!DOCTYPE html>
<html lang="en">

    <!-- Aqui va el head -->
    <%- include('../partials/head', {title: 'Editando: ' }) %>

<body>
    
    <!-- Aqui va el header -->
    <%- include('../partials/header') %>

    <!-- Aqui va el main -->
    <main>
        
        <div class="main-title-ctn">
            <p>Editar Producto: <%= productoAEditar.name %></p>
        </div>
        <div class="main-form-ctn">
            <form action="/productos/editar/<%= productoAEditar.id %>?_method=PUT" method="POST" class="formCyE" enctype="multipart/form-data">
                
                <label for="nombre">Nombre del Producto</label>
                <input type="text" name="name" id="nombre" 
                value="<%= locals.productoAEditar && productoAEditar.name ? productoAEditar.name : null  %>">
                <p id="error"></p>
                    <% if (locals.errors && errors.name) { %>
                        <div class="text-danger" id="backErrorname">
                            <%= errors.name.msg %> 
                        </div>                         
                    <% } %>


                <label for="peso">Peso Neto</label>
                <input type="number" name="weight" id="peso" 
                value="<%= locals.productoAEditar && productoAEditar.weight ? productoAEditar.weight : null  %>" 
                placeholder="Peso Neto">
                <p id="errorPeso"></p>
                    <% if (locals.errors && errors.weight) { %>
                        <div class="text-danger" id="backErrorPeso">
                            <%= errors.weight.msg %> 
                        </div>                         
                    <% } %>

                <label for="detalle">Descripción</label>
                <textarea name="detail" id="detalle" class='content-ctn' 
                placeholder="Detalle" rows="10" cols="50"><%= productoAEditar.detail %></textarea>
                <p id="errorDetalle"></p>
                    <% if (locals.errors && errors.detail) { %>
                        <div class="text-danger" id="backErrorDetalle">
                            <%= errors.detail.msg %> 
                        </div>                         
                    <% } %>
                <label for="precio">Precio</label>
                <input type="number" name="price" id="precio" 
                value="<%= locals.productoAEditar && productoAEditar.price ? productoAEditar.price : null  %>" placeholder="Precio">
                <p id="errorPrecio"></p>
                <% if (locals.errors && errors.price) { %>
                    <div class="text-danger" id="backErrorPrecio">
                        <%= errors.price.msg %> 
                    </div>                         
                <% } %>

                <label for="cantidad">Cantidad</label>
                <input type="number" name="quantity" id="cantidad" placeholder="Cantidad" class="form-element"
                value="<%= locals.productoAEditar && productoAEditar.quantity ? productoAEditar.quantity : null  %>"> 
                <p id="errorCantidad"></p>
                <% if (locals.errors && errors.quantity) { %>
                    <div class="text-danger" id="backErrorCantidad">
                        <%= errors.quantity.msg %> 
                    </div>                         
                <% } %>    

                <!-- Traer la imagen -->
                <label for="imagenes">Subir Imagen</label>
                <img src="/images/<%= productoAEditar.image %>" alt="">
                <input type="file" name="image" id="imagen" placeholder="Insertar Imagenes de tu producto">
                <p id="errorImage"></p> 
                <% if (locals.errors && errors.image) { %>
                    <div class="text-danger">
                        <%= errors.image.msg %> 
                    </div>                         
                <% } %>
              

                <label for="categoria">Categoria</label>
                <select name="category" id="categoria">
                    <!-- <option value="" disabled>Seleccionar Categoria</option> -->

                    <option value="Molido" <%= productoAEditar.category === 'Molido' ? 'selected' : '' %> >Molido</option>
                    <option value="En Granos" <%= productoAEditar.category === 'En Granos' ? 'selected' : '' %> >En Granos</option>              
                    <option value="Capsulas" <%= productoAEditar.category === 'Capsulas' ? 'selected' : '' %> >Capsulas</option>
                    <option value="Chocolates" <%= productoAEditar.category === 'Chocolates' ? 'selected' : '' %> >Chocolates</option>
                    <option value="Cookies" <%= productoAEditar.category === 'Cookies' ? 'selected' : '' %> >Cookies</option>
                    <option value="Alfajores" <%= productoAEditar.category === 'Alfajores' ? 'selected' : '' %> >Alfajores</option>

                </select>

                <label for="sesion">Sesion</label>
                <select name="session" id="sesion">

                    <option value="Destacado" <%= productoAEditar.session === 'Destacado' ? 'selected' : '' %> >Destacado</option>
                    <option value="Oferta"    <%= productoAEditar.session === 'Oferta'    ? 'selected' : '' %> >En Oferta</option>
                    <option value="Normal"    <%= productoAEditar.session === 'Normal'    ? 'selected' : '' %> >Normal   </option>

                </select>

                <div class="submit-compra-mc">
                    <button type="submit" class="submit-lgn-mc">Guardar Producto</button>
                    <a href="/productos/detalle/<%= productoAEditar.id %>">
                        <button type="button" class="submit-lgn-mc"> Volver
                        </button>
                    </a>
                </div>
              
            </div>
            </form>
        </div>
    </main>


    <!-- Aca va el footer -->
    <%- include('../partials/footer') %>

    <!-- Aqui va el script de validaciones -->
  <script src="/js/productModifyValidation.js" type="text/javascript"></script> 
    

</body>
</html>