<!DOCTYPE html>
<html lang="en">

<!-- Aqui va el head -->
<%- include('../partials/head') %>

<body>
    <!-- Aqui va el header -->
    <%- include('../partials/header') %>
    
    <!-- Aqui va el main -->
    <main class="background-detalle">
        <br>
        <br>
        <br>
        <div class="dp-contenedor1">
                       
            <div class="dp-contenedor-principal">
                <div dp-img-principal>
                     <img src="/images/<%= detalleProducto.imagen %> " class="dp-img-principal">
                </div>
                <div class="dp-detalle">
                    <h3><%= detalleProducto.nombre %></h3>
                    <p> <%= detalleProducto.peso %> grs</p>
                    <p>$ <%= detalleProducto.precio %></p>
                    <label>Cantidad:</label>
                    <input type="number" name="cantidad" min="1" max="99" required>
                    <div>
                    <button class="button-form-create">Sumar al Carrito</button>
                    </div>
                </div>
            </div>
            <div class="dp-descripcion">
                <h3>Detalle</h3>
                <p><%= detalleProducto.detalle %></p>
            </div>

            <form action="/products/<%= detalleProducto.id %>?_method=DELETE" method="post" class="formCyE"> 
                <div class="submit-compra-mc">
                    <button type="submit" class="submit-lgn-mc">Borrar producto <%= detalleProducto.nombre %> </button>
                </div>
            </form>
    </div>
        <div class="dp-contenedor1">
            <h2>Productos Relacionados</h4>
            <div class="dp-img-secundarias">
                <div class="dp-img-detalle1">
                <p>Cafe Brasil</p>
                <img src="/images/cafeBrasil.jpg" alt="" class="img-relacionados">
                </div>
                <div class="dp-img-detalle1">
                    <p>Cafe Colombia</p>
                    <img src="/images/cafeColombia.jpg" alt="" class="img-relacionados">
                </div>
                <div class="dp-img-detalle1">
                    <p>Cafe Mexico</p>
                    <img src="/images/cafeMexico.jpg" alt="" class="img-relacionados">
                </div>
            </div>
        </div>
    </main>

    <!-- Aca va el footer -->
    <%- include('../partials/footer') %>
    
</body>

</html>