<!DOCTYPE html>
<html lang="en">

<!-- Aqui va el head -->
<%- include('../partials/head') %>

<body>
    <!-- Aqui va el header -->
    <%- include('../partials/header') %>
    
    <!-- Aqui va el main -->
    <main>
        <div class="carrusel">
            <a href="#"><img src="/images/tomemonos-un-cafe-banner.jpg" class="imagen"></a>
        </div> 
        
            <h3 class="titulo">Nuestros Productos</h3>
      
            <section class="section-pr">
                <% products.forEach(producto => { %>
                    <article class="card-products">
                        
                        <a href="/productos/detalle/<%= producto.id %> "><img src="/images/<%= producto.imagen %>" class="ImagenProductos">
                            <p class="descripcion-pr"><%= producto.nombre %></p>
                            <p class="precio-pr">$ <%= producto.precio %></p>
                        </a>
                    </article>
                <% }) %>  
            </section>
            
            <!-- Boton para Crear un Producto -->
            
            <div class="botonesEditarProducto">
                <a href="/productos/crear">
                    <button type="submit" class="submit-lgn-mc">Crear producto </button>
                </a>
            </div>
            <br>
            

    </main>

    <!-- Aca va el footer -->
    <%- include('../partials/footer') %>
    
</body>

</html>