<% enOferta.forEach(oferta => { %>
    <article class="card">
        
        <a href="/productos/detalle/<%= oferta.id %> "><img src="/images/<%= oferta.image %>" class="ImagenPackTrio">
            <p class="descripcion"><%= oferta.name %></p>
            <p class="descripcion"><%= oferta.weight %>  gr.</p>
            <p class="precio">$ <%= oferta.price %></p>
        </a>
    </article>
<% }) %>   








