<!DOCTYPE html>
<html lang="en">

   
    <%- include('../partials/head') %>
<body>
    
    <%- include('../partials/header') %>

    <main>
        <div class="carrusel">
            <!-- <a href="/productDetail"></a> ESTO A DONDE SE SUPONE QUE MANDA? -->
                <img src="/images/tomemonos-un-cafe-banner.jpg" class="imagen">
        </div> 
        
            <h3 class="titulo">Nuestras Ofertas</h3>
      
            <section class="Ofertas">
                <%- include('../partials/cardOfertas') %> 
            </section>

        <h3 class="titulo"> Nuestros Destacados</h3>

        <section class="destacados">
            <%- include('../partials/cardDestacados') %> 
        </section>
        
    </main>

    <!-- Aca va el foter -->
    <%- include('../partials/footer') %>
</body>

</html>