<!DOCTYPE html>
<html lang="en">

    <!-- Aqui va el head -->
    <%- include('../partials/head') %>

<body>
    
    <!-- Aqui va el header -->
    <%- include('../partials/header') %>

    

    <!-- Aqui va el main -->
    <main>
        <div class="login">
            <div class="form-principal">
                <form action="/usuarios/edit/<%= user.id %>?_method=PUT" " method="post" class="create-user" enctype="multipart/form-data">
                    <h2 class="registro">Editar Usuario</h2>
                    
                    
                    <!-- <div class="control-form">
                        <label for="first_name">Nombre</label> 
                        <input 
                            type="text" 
                            name="first_name" 
                            class="control <%= locals.errors && errors.first_name ? 'is-invalid' : null %>"
                            placeholder="Nombre"
                            <% if (locals.isLogged && user.rols_id !== 2) { %>
                                disabled
                            <% } %>
                            value="<%= user.first_name  %>"> 
                    </div> -->
                    <!-- Campo Nombre -->
                    <div class="control-form">
                        <label for="first_name">Nombre</label>
                        <input type="text" id="first_name" name="first_name" placeholder="Nombre"
                            class="control bkg_first_name <%= (locals.errors && errors.first_name) ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.first_name : user.first_name  %>">
                        
                        <!-- Texto de error -->
                        <% if (locals.errors && errors.first_name) { %>
                            <div class="text-danger err_first_name">
                                <%= errors.first_name.msg %>
                            </div>
                        <% }else{%>
                        <!-- Validacion desde el front -->
                        <div class="text-danger-front err_first_name"></div>
                        <% }%>
                    </div>

                    <!-- Campo Apellido -->
                    <div class="control-form">

                        <!-- <label for="last_name">Apellido</label> 
                        <input type="text" name="last_name" class="control" placeholder="Apellido" 
                        <% if (locals.isLogged && user.rols_id !== 2) { %>
                            disabled
                            <% } %>
                        value="<%= user.last_name  %>">   -->
                        

                        <label for="last_name">Apellido</label>
                        <input type="text" id="last_name" name="last_name" class="control" placeholder="Apellido"
                        value="<%= locals.oldData ? oldData.last_name : user.last_name  %>">
                        <% if (locals.errors && errors.last_name) { %>
                            <div class="text-danger">
                                <%= errors.last_name.msg %>
                            </div>
                        <% }else{%>
                            <!-- Validacion desde el front -->
                            <div class="text-danger-front err_last_name"></div>
                        <% }%>
                    </div>

                    <!-- Campo Nombre de usuari@ -->
                    <div class="control-form">
                        <!-- <label for="username">Nombre de Usuari@</label> 
                        <input type="text" name="username" class="control" placeholder="Nombre de Usuario"
                        <% if (locals.isLogged && user.rols_id !== 2) { %>
                            disabled
                            <% } %>
                        value="<%= user.username  %>"> -->
                           
                        <label for="username">Nombre de Usuari@</label>
                        <input type="text" id="username" name="username" class="control" placeholder="Nombre de Usuari@" 
                        value="<%= locals.oldData ? oldData.username : user.username  %>">
                        <% if (locals.errors && errors.username) { %>
                            <div class="text-danger">
                                <%= errors.username.msg %>
                            </div>
                        <% }else{%>
                            <!-- Validacion desde el front -->
                            <div class="text-danger-front err_username"></div>
                        <% }%>
                    </div>

                    <!-- Campo Email -->
                    <div class="control-form">
                        <!-- <label for="email">Correo electronico</label> 
                        <input type="email" name="email" class="control" placeholder="nombre@correo.com"
                        <% if (locals.isLogged && user.rols_id !== 2) { %>
                            disabled
                            <% } %>
                        value="<%= user.email  %>"> -->
                           
                        <label for="email">Correo electronico</label>
                        <input type="email" id="email" name="email" class="control" placeholder="nombre@correo.com" 
                        value="<%= locals.oldData ? oldData.email : user.email %>">
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <% } else{%>
                            <!-- Validacion desde el front -->
                            <div class="text-danger-front err_email"></div>
                        <% }%>
                    </div>

                    <!-- campo fecha de nacimiento -->
                    <div class="control-form">
                        <!-- <label for="birth_date">Fecha de Nacimiento</label> 
                        <input type="date" name="birth_date" class="control" placeholder="dd/mm/yyyy"
                        <% if (locals.isLogged && user.rols_id !== 2) { %>
                            disabled
                            <% } %>
                        value="<%= user.birth_date  %>"> -->
                        

                        <label for="birth_date">Fecha de Nacimiento</label>
                        <input type="date" id="birth_date" name="birth_date" class="control" placeholder="dd/mm/yyyy"
                        value="<%= locals.oldData ? oldData.birth_date : user.birth_date  %>">
                        <% if (locals.errors && errors.birth_date) { %>
                            <div class="text-danger">
                                <%= errors.birth_date.msg %>
                            </div>
                        <% }else{%>
                            <!-- Validacion desde el front -->
                            <div class="text-danger-front err_birth_date"></div>
                        <% } %> 
                    </div>

                    <!-- Campo imagen de usuario -->
                    <div class="control-form">
						<label for="image">Selecciona tu imagen de Perfil</label>
						<input type="file" id="image" name="image" class="control" >
                        <% if (locals.errors && errors.image) { %>
                            <div class="text-danger">
                                <%= errors.image.msg %>
                            </div>
                            <div class="text-danger-front err_image"></div>
                        <% }else{%>
                            <!-- Validacion desde el front -->
                            <div class="text-danger-front err_image"></div>
                        <% } %>
					</div>

                    <!-- cambio de contraseña -->
                    
                    <input type="checkbox" id="changePassword" name="changePassword">
                    <label for="changePassword">Cambiar contraseña</label>
                    <br>
                    <br>
                        
                    <!-- Campo Contraseña actual-->
                    <div class="control-form">
                        <label for="password">Contraseña Actual</label>
                        <input type="password" id="password" name="password" placeholder="Contraseña" class="control" readonly>
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% }else{%>
                            <!-- Validacion desde el front -->
                            <div class="text-danger-front err_password"></div>
                        <% } %>
                    </div>

                    <!-- Campo Nueva Contraseña -->
                    <div class="control-form">
                        <label for="newPassword"> Nueva Contraseña</label>
                        <input type="password" id="newPassword" name="newPassword" placeholder="Nueva Contraseña" class="control" readonly>
                        <% if (locals.errors && errors.newPassword) { %>
                            <div class="text-danger">
                                <%= errors.newPassword.msg %>
                            </div>
                        <% }else{%>
                            <!-- Validacion desde el front -->
                            <div class="text-danger-front err_newPassword"></div>
                        <% } %>
                    </div>

                    <!-- Campo confirmar contraseña -->
                    <div class="control-form">
                        <label for="newRepassword">Confirmar Nueva Contraseña</label>
                        <input type="password" id="newRepassword" name="newRepassword" placeholder="Confirme la Nueva Contraseña" 
                        class="control" readonly>
                        <% if (locals.errors && errors.newRepassword) { %>
                            <div class="text-danger">
                                <%= errors.newRepassword.msg %>
                            </div>
                        <% }else{%>
                            <!-- Validacion desde el front -->
                            <div class="text-danger-front err_newRepassword"></div>
                        <% } %>
                    </div>

                    <% if (locals.isLogged && user.rols_id === 2) { %>
                        <div class="control-form">
                            <label for="status">Status</label> 
                            <input type="text" name="status" class="control" placeholder="Status" 
                            value="<%= user.status  %>">                           
                        </div>                        
                    <% } %>
                        
                    <% if (locals.isLogged && user.rols_id === 2) { %>
                        <div class="control-form">
                            <label for="rol">Rol</label> 
                            <select name="rol" >
                                <% rol.forEach(role => { %>                                
                                    <% if (role.id == user.rols_id) { %>
                                        <option value="<%= role.id  %>" selected>
                                            <%= role.rol_name  %>
                                        </option>
                                        
                                    <% } else { %>
                                        <option value="<%= role.id  %>">
                                            <%= role.rol_name  %>
                                        </option>
                                    <% } %>                             
                                <% }) %>
                            </select>
                        </div>
                    <% } %>
                    

                    <!-- <div class="control-form">
                        <label for="status">Status</label> 
                        <input type="text" name="status" class="control" placeholder="Status" 
                        value="<%= user.status  %>">
                    </div> -->
                   
                    <!-- <div class="control-form">
                        <label for="rol">Rol</label> 
                        <select name="rol" >
                            <option value=1 >User </option>
                            <option value=2 >Admin</option>
                            <option value=3 >Guest</option>
                        </select>
                    </div> -->

                    <!-- aceptar cambios usuario o volver -->
                    <div>
                        <div class="botonesEditarProducto">
                            <button type="submit" id="submit" class="button-form-create">Guardar Usuario</button>
                        </div>
                        <div class="botonesEditarProducto">
                            <a href="/usuarios/perfil">
                                <button type="button" class="submit-lgn-mc">    Volver    </button>
                            </a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </main>

    <script src="/js/userEditValidation.js"></script>

    <!-- Aca va el footer -->
    <%- include('../partials/footer') %>
    

</body>
</html>