<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body class="login">
    
    <%- include('../partials/header') %>

    <!-- Empieza el Form de Login -->
    <div class="formLogin">
        <div class="contenedorSadulo">
            <h1 class="tituloLogin">LOGIN</h1>
            <i class="fa-solid fa-circle-user"></i>
            <h2 class="saludo">Bienvenido</h2>
        </div>
        <form action="/usuarios/login" method="POST" class="formBody" id="formulario">
            <label for="email">Correo Electrónico</label>
            <input type="email" name="email" id="email" class="email" placeholder="email" >
            <div>
                <p class="formInputEmailError">Ingrese su Email</p>
            </div>
            <% if (locals.errors && errors.email) { %>
             <div class="text-danger">
                <%= errors.email.msg %> 
             </div>
            <% } %>
            <label for="password" class="pass">Contraseña</label>
            <input type="password" name="password" id="password" placeholder="Contraseña">
            <div>
                <p class="formInputPassError">Ingrese su password de 5 a 12 digitos</p>
            </div>
            <div class="rememberMe">
                <% if (locals.errors && errors.user) { %>
                    <div class="text-danger">
                        <%= errors.user.msg %> 
                    </div>
                    <% } %>
                    <input type="checkbox" name="recordame" class="check">
                    <span>Recordame</span>
                </div>
            <div class="butonLogin">
                <button id="btn" type="submit" class="button-form-create">Ingresar</button>
            </div>
            <a href="/" class="forgot">¿Olvidaste tu Contraseña?</a>
        </form>

    </div>
    <script src="/js/userLoginValidation.js"></script>

    <!-- Aca va el footer --> 
    <%- include('../partials/footer') %>
    
</body>

</html>