<!DOCTYPE html>
<html lang="en">

    <!-- Aqui va el head -->
    <%- include('../partials/head') %>

<body>
    
    <!-- Aqui va el header -->
    <%- include('../partials/header') %>

    

    <!-- Aqui va el main -->
    <main>
        <div class="login">
            <div class="form-principal">
                <form action="/usuarios/registro" method="post" class="create-user" enctype="multipart/form-data">
                    <h2 class="registro">Formulario de registro</h2>
                    <!-- <% if (locals.errors) { %>
                        <% for( error in errors ) { %>
                            <p> <%= errors[error].msg %>  </p>
                        <% } %>
                    <% } %> -->
                    <div class="control-form">
                        <label for="first_name">Nombre</label>
                        <input 
                            type="text"
                            name="first_name"
                            class="control <%= locals.errors && errors.first_name ? 'is-invalid' : null %>"
                            placeholder="Nombre"
                            value="<%= locals.oldData ? oldData.first_name : null  %>"> 
                        <% if (locals.errors && errors.first_name) { %>
                            <div class="text-danger">
                                <%= errors.first_name.msg %> 
                            </div>                         
                        <% } %>
                    </div>
                    <div class="control-form">
                        <label for="last_name">Apellido</label> 
                        <input type="text" name="last_name" class="control" placeholder="Apellido" value="<%= locals.oldData ? oldData.last_name : null  %>">  
                        <% if (locals.errors && errors.last_name) { %>
                            <div class="text-danger">
                                <%= errors.last_name.msg %> 
                            </div>                         
                        <% } %> 
                    </div>
                    <div class="control-form">
                        <label for="username">Nombre de Usuari@</label> 
                        <input type="text" name="username" class="control" placeholder="Nombre de Usuario" value="<%= locals.oldData ? oldData.username : null  %>">
                        <% if (locals.errors && errors.username) { %>
                            <div class="text-danger">
                                <%= errors.username.msg %> 
                            </div>                         
                        <% } %>    
                    </div>
                    <div class="control-form">
                        <label for="email">Correo electronico</label> 
                        <input type="email" name="email" class="control" placeholder="nombre@correo.com" value="<%= locals.oldData ? oldData.email : null  %>">
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %> 
                            </div>                         
                        <% } %>    
                    </div>
                    <div class="control-form">
                        <label for="birth_date">Fecha de Nacimiento</label> 
                        <input type="date" name="birth_date" class="control" placeholder="dd/mm/yyyy" value="<%= locals.oldData ? oldData.birth_date : null  %>">
                        <% if (locals.errors && errors.birth_date) { %>
                            <div class="text-danger">
                                <%= errors.birth_date.msg %> 
                            </div>                         
                        <% } %> 
                    </div>

                    <div class="control-form">
						<label for="image">Selecciona tu imagen de Perfil</label>
						<input type="file" name="image" id="image" class="control">
                        <% if (locals.errors && errors.image) { %>
                            <div class="text-danger">
                                <%= errors.image.msg %> 
                            </div>                         
                        <% } %> 
					</div>
                   
                    <!-- Contraseña -->
                    <div class="control-form">
                        <label for="password">Contraseña</label> 
                        <input type="password" name="password" placeholder="Contraseña" class="control">
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %> 
                            </div>                         
                        <% } %>    
                    </div>
                    
                    <div class="control-form">
                        <label for="confirm_password">Confirmar Contraseña</label> 
                        <input type="password" name="confirm_password" placeholder="Confirme la Contraseña" class="control">
                        <% if (locals.errors && errors.confirm_password) { %>
                            <div class="text-danger">
                                <%= errors.confirm_password.msg %> 
                            </div>                         
                        <% } %>  
                    </div>
                    <select name="rol" id="rol">
                        <option value=1 >User</option>
                        <option value=2 >Admin</option>
                        <option value=3 >Guest</option>
                    </select>
                    <div class="control-form-buton">
                        <button type="submit" class="button-form-create">Crear Usuario</button>
                    </div>
                </form>
            </div>
        </div>
    </main>


    <!-- Aca va el footer -->
    <%- include('../partials/footer') %>
    

</body>
</html>